# Database Configuration
DATABASE_PASSWORD=
DATABASE_USERNAME=
DATABASE_ROOT_PASSWORD=
DATABASE_NAME=

# Application Configuration
JASYPT_ENCRYPTOR_PASSWORD=

# Artemis Configuration
ARTEMIS_USER=
ARTEMIS_PASSWORD=

# User Role Configurations
# Note: Encrypt user-role passwords with the standalone Jasypt tool. See the main project's README for instructions in the Quickstart for Users section.
# Default User
DEFAULT_ADMIN_FULL_NAME=
DEFAULT_ADMIN_TITLE=
DEFAULT_ADMIN_EMAIL=
DEFAULT_USER_USERNAME=
DEFAULT_USER_PASSWORD=

# Default Reviewer
DEFAULT_REVIEWER_FULL_NAME=
DEFAULT_REVIEWER_TITLE=
DEFAULT_REVIEWER_EMAIL=
DEFAULT_REVIEWER_USERNAME=
DEFAULT_REVIEWER_PASSWORD=

# Default Supervisor
DEFAULT_SUPERVISOR_FULL_NAME=
DEFAULT_SUPERVISOR_TITLE=
DEFAULT_SUPERVISOR_EMAIL=
DEFAULT_SUPERVISOR_USERNAME=
DEFAULT_SUPERVISOR_PASSWORD=
